__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
.vscode
.idea
*.log
*.sqlite
coverage.xml
.coverage
htmlcov/
dist/
build/
*.egg-info/
tests/
notebooks/
docs/
frontend/
node_modules/
LICENSE
README.md
TODO.md
